{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
/* Cible les liens dans la balise <nav> */
nav a {
    text-decoration: none; /* Supprime le soulignement */
    font-weight: normal; /* Assurez-vous que la police n'est pas en gras par défaut */
    font-size: 16px; /* Taille de police par défaut */
    transition: font-weight 0.3s, font-size 0.3s; /* Ajoute une transition fluide pour le changement de style */
    color : #0072BD; 
}

/* Au survol, mettez en gras et augmentez la taille de la police */
nav a:hover {
    font-weight: bold; /* Mettez en gras */
    font-size: 18px; /* Augmente la taille de police au survol */
}

i { color : #0072BD; }

.drap { 
    height: 150px;
background-color: #0072BD;
}


</style>

<div >
    <header class="d-flex  justify-content-between">
    
    <div>
        <img class="d-none d-md-inline" src="img/512Logo.png">
        <img class="d-md-none" src="img/favicon.ico">
    </div>
    <nav class="mb-auto  p-5">
        <a href="#" class="d-none d-md-inline">Accueil </i></a>
        <a href="#" class="d-md-none"><i class="fa-solid fa-house"></i></a>
        <a href="#" class="d-none d-md-inline">Contact</a>
        <a href="#" class="d-md-none"><i class="fa-solid fa-address-card"></i></a>
    </nav>
</header>

<section class="drap">

</section>

<div class="d-flex m-5">
 <img src="/img/ghislain.jpeg" alt="Ghislain Vachet">

 <aside class="d-flex row text-center m-5"> <h2>Ghislain Vachet </h2>
 <h1>Votre Développeur Freelance</h1>
 <h3>En tant que Développeur Web je vous propose de nombreuses solutions de site web, suivant vos besoins et a une échelles humaine.
 Découvrez mes prestations</h3></aside>
</div>
   

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/bestUser/Desktop/vitrine/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/bestUser/Desktop/vitrine/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
